@model QaApp.Data.AppQa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AppQa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppVraag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppVraag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppAntwoord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppAntwoord)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
