@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p>Over <a href="https://qualityaccelerators.nl">Quality Accelerators</a>
    </p>
</div>
